@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Griffiths";
  src: url("/fonts/Griffiths.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "MADE Tommy";
  src: url("/fonts/MADE TOMMY Bold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "MADE Tommy";
  src: url("/fonts/MADE TOMMY Regular.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "MADE Tommy";
  src: url("/fonts/MADE TOMMY Thin.otf") format("opentype");
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

:root {
  --background: #fcecc0;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

.no-select {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none; 
  user-select: none;
}

body {
  color: var(--foreground);
  background: var(--background);
}

* {
  border: solid 1px red;
}