@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Griffiths";
  src: url("/src/fonts/Griffiths.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "MADE Tommy";
  src: url("/src/fonts/MADE TOMMY Bold.otf") format("opentype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "MADE Tommy";
  src: url("/src/fonts/MADE TOMMY Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "MADE Tommy";
  src: url("/src/fonts/MADE TOMMY Thin.otf") format("opentype");
  font-weight: 100;
  font-style: normal;
}

:root {
  --background: #fcecc0;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: "MADE Tommy", sans-serif;
}
